/Duet2_RTOS/
/Duet3_V05/
/Duet3_V06/
/Duet3_V06_CAN0/
/Duet3_V06_Debug/
/DuetM_RTOS/
/PCCB_08/
/PCCB_08_X5/
/PCCB_10/
/RADDS_RTOS/
/SAME70XPLD/
/.settings/language.settings.xml
/.vscode/.cortex-debug.*
/CoreSTM32F4/
/CoreLPC/
/build/
/iapbuild/
/expbuild/
/releases/*/*/*-picocan.*
/releases/*/*/*/*picocan.*
/CANlib/
/CoreN2G/
/DuetWiFiSocketServer/
/FreeRTOS/
/IAP/
/RRFLibraries/
/RepRapFirmware/
/Duet3Expansion/
/ESP8266_RTOS_SDK/
/WiFiSocketServerRTOS/
/esp-idf/
/DuetWebControl/
/releases/3.5.0-rc.1+103/
/releases/3.5.0-rc.1+104/
/releases/3.5.0-rc.1+105/
/releases/3.5.0-rc.1+106/
/releases/3.5.0-rc.1+107/
/releases/3.5.0-rc.1+108/
/releases/3.5.0-rc.2+102/
/releases/3.5.0-rc.2+103/
/releases/3.5.0-rc.3+102/
/releases/3.5.0-rc.3+104/
/releases/3.5.0-rc.3+105/
/releases/3.5.0-rc.3+106/
/releases/3.5.0-rc.3+8/
